:root {
  --brand-color: #e881a0;
}
body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Libre Baskerville", serif;
}

.hero {
  text-align: center;
  margin-top: 50px;
  & h1 {
    font-size: 60px;
  }

  & h6 {
    font-size: 30px;
  }

  & p {
    font-size: 24px;
  }
}

.btn-branding {
  background-color: var(--brand-color);
  color: white;
  padding: 10px 30px;
  border-radius: 50px;
  margin-top: 10px;

  &:hover {
    border: 1px solid var(--brand-color);
    color: var(--brand-color);
  }
}

.about-section {
  text-align: center;
  margin-top: 100px;
}

.skills-section {
  text-align: center;
  margin-top: 100px;
}

.work-section {
  /* text-align: center; */
  margin-top: 100px;
  margin-bottom: 100px;
}

.see-more {
  text-align: center;
  margin-top: 50px;
}
