:root {
  --brand-color: #e881a0;
}
body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Libre Baskerville", serif;
}

.hero {
  text-align: center;
  margin-top: 50px;
  & h1 {
    font-size: 60px;
  }

  & h6 {
    font-size: 30px;
  }

  & p {
    font-size: 24px;
  }
}

.btn-branding {
  background-color: var(--brand-color);
  color: white;
  padding: 10px 30px;
  border-radius: 50px;
  margin-top: 10px;

  &:hover {
    border: 1px solid var(--brand-color);
    color: var(--brand-color);
  }
}

.hp-about-section {
  text-align: center;
  margin-top: 100px;
}

.hp-skills-section {
  text-align: center;
  margin-top: 100px;
  & .fa-html5 {
    color: #eb6217;
  }

  & .fa-css3-alt {
    color: #3996d1;
  }

  & .fa-square-js {
    color: #e9b921;
  }

  & .fa-github {
    color: #102939;
  }

  & .fa-bootstrap {
    color: #7533f9;
  }

  & .fa-php {
    color: #7377ad;
  }
}

.see-more {
  text-align: center;
  margin-top: 50px;
}

/* .fa-envelope {
  color: var(--brand-color);
}

.fa-linkedin {
  color: var(--brand-color);
}

.fa-instagram {
  color: var(--brand-color);
}

.fa-github {
  color: var(--brand-color);
} */

.about-section {
  text-align: center;
  margin-top: 50px;
  & h1 {
    font-size: 60px;
  }
}

.skills-section {
  text-align: center;
  margin-top: 100px;
}

.experience-section {
  /* text-align: center; */
  margin-top: 100px;
  margin-bottom: 50px;

  & h6 {
    margin: 0 auto;
  }
}

.work-section {
  margin-top: 100px;
  margin-bottom: 100px;

  & h1 {
    margin-left: 70px;
    font-size: 50px;
  }
  & p {
    line-height: 35px;
  }
}

.contact-section {
  text-align: center;
  margin-top: 50px;
  & h1 {
    font-size: 60px;
  }
}

.socials-section {
  text-align: center;
  margin-top: 50px;
}

footer {
  margin: 60px 0;
  display: block;
}

footer .email-link a {
  text-decoration: none;
  font-size: 24px;
  color: black;
  font-weight: bolder;

  &:hover {
    color: var(--brand-color);
  }
}

footer .social-links a {
  margin: 0 15px;
  color: var(--brand-color);
  padding: 10px 14px;
  border-radius: 50%;
  background-color: #f9edf0;
  transition: all 150ms ease-in-out;

  &:hover {
    color: white;
    background-color: var(--brand-color);
  }
}

footer .contact-box {
  background-color: #f9edf0;
  padding: 30px 120px;
  margin-bottom: 40px;
}
